server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/myshop_db
    username: postgres
    password: 2005
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

# Swagger konfiguratsiyasi
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
  packages-to-scan: com.myshop.myshop_backend.controller
