spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/myshop_db
    username: postgres
    password: 2005
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  application:
    name: myshop-backend

server:
  port: 8080
